[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "st/repo"]
	path = st/repo
	url = https://git.suckless.org/st
[submodule "powerline/fonts"]
	path = fonts/powerline
	url = https://github.com/powerline/fonts.git
	shallow = true
[submodule "fonts/nerd-fonts"]
	path = fonts/nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts.git
	shallow = true
